@import '../Helpers/variables';

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  transition: all ease-in 0.2s;
  @media screen and (max-width: 1024px) {
    background-color: $color-white;
    .header-wrapper {
      @media screen and (max-width: 1024px) {
        .logo-wrapper {
          .logo-link {
            img {
              width: 48px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 375px) {
  }
}

@keyframes fadeIn {
  from {
    display: none;
    background-color: rgba($color: #000000, $alpha: 0);
  }
  to {
    opacity: 0.6;
    display: block;
  }
}

.nav__logo {
  position: relative;
  .logo-wrapper {
    .logo-link {
      transition: all 100ms linear;
      position: relative;
      img {
        width: 80px;
        height: auto;
      }
    }
  }
}

.overlay {
  position: fixed;
  display: none;
  opacity: 0;
  background-color: #000000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  overflow-y: hidden;
  scroll-behavior: smooth;
  transition: all ease 0.3s;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  .nav__logo {
    display: none;
  }
}

.navigation {
  .menu-button {
    position: absolute;
    z-index: 100;
    background-color: $color-white;
    button {
      display: none;
      font-size: 32px;
      line-height: 32px;
      border: none;
      background-color: transparent;
      border-radius: 16px;
      transition: all ease 0.3s;
      margin: 8px;
      &:hover {
        color: $color-primary;
      }
      i {
        padding: 8;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .nav__logo {
    margin-left: 64px;
  }
  .navigation {
    display: flex;
    position: absolute;
    top: 0;
    background-color: $color-white;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vmax;
    margin-left: -16px;
    transform: translateX(-100%);
    transition: all ease-out 0.3s;
    .nav__logo {
      position: relative;
      display: block;
      .logo-wrapper {
        .logo-link {
          transition: all 100ms linear;
          position: relative;
          img {
            width: 80px;
            height: auto;
          }
        }
      }
    }
    .nav {
      display: flex;
      flex-direction: column;
      .nav-item {
        padding: 0;
      }
    }
    .nav__contact-bar {
      margin: 16px auto;
      .nav__contact-bar-wrapper {
        display: flex;
        flex-direction: column;
      }
      .nav__contact-social {
        margin-top: 32px;
        display: flex;
        .nav__contact-icon {
          font-size: 24px;
          margin: 0 16px;
        }
      }
    }
    .menu-button {
      display: block;
      top: 0;
      right: -72px;
      button {
        display: block;
        i {
          display: none;
        }
      }
    }
  }
}

.nav {
  justify-content: end;
  .nav-item {
    padding: 0 50px 0 0;
    float: left;
    position: relative;
    z-index: 5;
    .nav-link {
      position: relative;
      display: flex;
      justify-content: center;
      font-size: $fs-2;
      font-weight: $fw-2;
      line-height: 80px;
      color: $color-text;
      transition: all ease 0.3s;
      padding: 0;
      &:hover {
        color: $color-primary;
        &::after {
          transform: scale(1.1);
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        bottom: -4px;
        margin: 0 auto;
        pointer-events: none;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: $color-primary;
        transform: scale(0);
        transition: all ease 0.3s;
      }
    }
  }
}

.nav__contact-bar {
  margin-left: 50px;
  .nav__contact-bar-wrapper {
    display: flex;
    align-items: center;
    .nav__contact-btn {
      font-size: $fs-2;
      width: auto;
    }
    .nav__contact-icon {
      margin-left: 16px;
      line-height: inherit;
      display: inline-block;
      font-size: $fs-2;
      color: $color-black;
      transition: all ease 0.3s;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
