@import "../Helpers/variables";
@import "../Themes/transitions";

.btn {
  @extend .p-s-fs;
  @extend .fw-2;

  line-height: 1;
  padding: 15px 20px;
  border: 1px solid $color-primary;
  border-radius: 50px;
}

.btn-primary {
  @extend .bg-color-primary;
  @extend .text-color-white;
  @include transition-primary();
  &:hover {
    color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.btn.btn-secondary {
  border: 1px solid $color-white;
  color: $color-primary;
  @include transition-secondary();
}

.btn-secondary {
  color: $color-primary !important;
  &:hover {
    color: $color-white !important;
  }
}
